@using WebApp.Models.TodoTask
@model CreateTodoTask

<body>
	<h2>Create task</h2>
	<div class="div1">
		<a asp-controller="TodoList" asp-action="Details" asp-route-id="@Model.ListId">Back</a>
	</div>

	<form asp-action="Create" asp-controller="TodoTask" method="post">
		<div class="div1">
			@Html.LabelFor(m => m.Title)
			@Html.TextBoxFor(m => m.Title)
		</div>
		<div class="div1">
			@Html.LabelFor(m => m.Description)
			@Html.TextBoxFor(m => m.Description)
		</div>
		<div class="div1">
			@Html.LabelFor(m => m.DueAt)
			<input type="datetime-local" asp-for="DueAt"/>
		</div>
		<div class="div1">
			<input type="submit" />
		</div>
		<input type="hidden" asp-for="ListId" value="@Model.ListId" />
	</form>
</body>