@using WebApp.Models.TodoList
@model TodoListModel
@*
    For monformation on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <a class="btn" asp-action="Index">Back</a>

    <h1>@Model.Title</h1>

    <div class="div1">
        <ul>
            <li class="liHor">
                <a class="btn" asp-action="Edit" asp-route-id="@Model.Id" method="post">Edit list</a>
            </li>
            <li class="liHor">
                <a class="btn" asp-action="Delete" asp-route-id="@Model.Id">Delete list</a>
            </li>
        </ul>
    </div>

    <div class="div1">
        <h3>Description</h3>
        <P>@Model.Description</P>
    </div>

    <div class="div1">
        <a class="btn" asp-controller="TodoTask" asp-action="Create" asp-route-id="@Model.Id" method="post">Create task</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Ttile</th>
                <th>Descriprion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tasks != null)
            {
                @foreach (var task in Model.Tasks)
                {
                    @await Html.PartialAsync("_TaskListRowPartial", task);
                }
            }
        </tbody>
    </table>

</body>